<div class="input-group mb-5">

    <div id="admin-container" align="center" class="bg-secondary text-white"></div>

    {{#if (isTrue isAdmin)}}
    {{#if (isdefined latestLocationsList)}}

    <div>
        <table>
            {{#each latestLocationsList}}
            {{#if (isFalse this.isValid)}}
            <tr>
                <td>
                    <a href="/details/{{this._id}}">
                        <img src="/uploads/{{this.image.data}}" alt="couldnt show images" width="400px"
                            class="img-thumbnail img-responsive">
                    </a>
                </td>
                <td>
                    <h3 class="input-group m-3"> {{this.locationName}} </h3>
                    <p class="input-group m-3"> {{this.description}} </p>
                </td>
                <td>
                    <div class="input-group m-3">
                        <button id={{this._id}} name="accept" class="button btn btn-primary">Accept</button>
                    </div>
                    <div class="input-group m-3">
                        <button id={{this._id}} name="reject" class="button btn btn-primary">Reject</button>
                    </div>
                </td>
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>

    {{else}}
    <p>No images show</p>
    {{/if}}
    {{else}}
    <h3>You are not Admin</h3>
    {{/if}}

</div>