
{{#if (isdefined locationDetails)}}
    {{#each locationDetails}}
    <h1>{{ this.locationName}}</h1>
    <br>
    <img class="mw-100 shadow" src="/uploads/{{this.image.data}}" width="600px" alt="Failed to load image ">
    <br>
    {{this.description}}
    <br>

    {{!-- {{#if user}} --}}
        <i onclick="recommedButton()" class="fa fa-thumbs-up fa-3x" id="thumb" name="recommend" value="" ></i>

        <script>const recommend = document.getElementById("thumb").value;
                document.write(recommend);
        </script>
        <br>
        <div id="addComment">
            <form method="POST" id="formId">
                <textarea id="comment" name="comment" placeholder="Leave comment here" style="width:600px" required></textarea><br>
                <button type="submit" class="btn">post</button>
            </form>
        </div>
    {{!-- {{/if}} --}}

        <ul>
            <li>{{this.comments.userName}} : {{this.comments.comment}}</li> 
        </ul>
    {{/each}}
{{else}}
    <p>No images show</p>
{{/if}}

