
{{#if (isdefined locationDetails)}}
    {{#each locationDetails}}
    <h1>{{ this.locationName}}</h1>
    <br>
    <img class="mw-100 shadow" src="/uploads/{{this.image.data}}" width="600px" alt="Failed to load image ">
    <br>
    {{this.description}}
    <br>
        <button onclick="recommendButton()" class="fa fa-thumbs-up fa-2x" id="recommend" name="recommend" title="I like this" value = "0" data-url="/details/{{this._id}}" ></button>
        <div id="getTotalRecommend">{{this.recommend.length}}</div>
        <br>
        <form method="POST" id="formId" data-id={{this._id}}>
            <textarea id="comment" name="comment" placeholder="Leave comment here" style="width:600px" required></textarea><br>
            <button type="submit" class="btn">post</button>
        </form>
               
     {{/each}}
{{else}}
    <p>No images show</p>
{{/if}}                   
            
    <div class="container">
            <div class="row">
                <div class="col-md-8">
                  <div class="page-header">
                    <h1><small class="pull-right">{{totalComment}} comments</small> Comments </h1>
                  </div> 
                 {{#if (isdefined locationDetails)}}
                    {{#each locationDetails}}      
                    <div class="comments-list">
                       {{#each comments}} 
                       <div class="media">
                           <p class="pull-right"><small>5 days ago</small></p>
                            <a class="media-left ml-3" href="#">
                              <img src="/image/userlogo.png">
                            </a>
                            <div class="media-body ml-3">
                              <h4 class="media-heading user_name">{{userName}}</h4>
                              <div id="newcomment"></div>{{comment}} 
                            </div>
                          </div><!--end of media-->
                        {{/each}}  
                      </div> <!--end of comment-list-->
                    {{/each}}
                  {{/if}} 
                    <div class="getNewComment">

                    </div>
                </div>
            </div>
        </div>







