<div class="input-group mb-5">
  <input type="text" id="searchLocation" class="form-control mr-5" placeholder="Search for a location...">
</div>

<div class="input-group mb-5">
  <button onclick="location.href='/locations'" class="btn btn-primary"> Add New Location </button>
</div>

<div class="input-group mb-5">
  {{#if (isdefined latestLocationsList)}}
    {{#each latestLocationsList}}
      {{#if (isTrue this.isValid)}}
        <div class='loc-list' data-name={{this.locationName}}>
          <h3>{{this.locationName}}</h3>
          <div class="row">
            <br>
            <a href= "/details/{{this._id}}">
              <img src="/uploads/{{this.image.data}}" alt="couldnt show images" width="400px"
                class="img-thumbnail img-responsive">
            </a>
            {{this.description}}
            <br>
          </div>
        </div>
        {{else}}
        <br>
        {{!-- <p>it is not valid</p> --}}

        <br>
      {{/if}}
    {{/each}}
  {{else}}
  <p>No images show</p>
  {{/if}}
</div>