<div class="input-group mb-5">
  <input type="text" id="searchLocation" class="form-control mr-5" placeholder="Search for a location...">
</div>

<div class="input-group mb-5">
  <button onclick="location.href='/locations'" class="btn btn-primary"> Add New Location </button>
</div>

<div class="input-group mb-5">

  {{#if (isdefined latestLocationsList)}}

  <table>
    {{#each latestLocationsList}}
    {{#if (isTrue this.isValid)}}
    <tr class="allLocations" data-name={{this.locationName}}>
      <td>
        <a href="/details/{{this._id}}">
          <img src="/uploads/{{this.image.data}}" alt="couldnt show images" width="400px"
            class="img-thumbnail img-responsive">
        </a>
      </td>
      <td>
        <h3 class="input-group m-3"> {{this.locationName}} </h3>
        <p class="input-group m-3"> {{this.description}} </p>
      </td>
    </tr>
    {{/if}}
    {{/each}}
  </table>

  {{else}}
  <p>No images show</p>
  {{/if}}
</div>